# Docker
# Build and push php images to Docker Hub
name: Build and push

on:
  push:
    paths:
      - 'build/**'
      - '.github/**'
    branches:
      - 'main'
    tags:
      - '*'

jobs:
  php84-cli-base:
    name: Build and push php84 cli base image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./build/php84/cli/base
          file: ./build/php84/cli/base/Dockerfile
          cache-from: type=gha,scope=php84-cli
          cache-to: type=gha,scope=php84-cli,mode=max
          push: true
          tags: anzusystems/php:${{ github.ref_name }}-php84-cli,anzusystems/php:latest-php84-cli

  php84-cli-vipsffmpeg:
    name: Build and push php84 cli vipsffmpeg image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./build/php84/cli/vipsffmpeg
          file: ./build/php84/cli/vipsffmpeg/Dockerfile
          cache-from: type=gha,scope=php84-cli-vipsffmpeg
          cache-to: type=gha,scope=php84-cli-vipsffmpeg,mode=max
          push: true
          tags: anzusystems/php:${{ github.ref_name }}-php84-cli-vipsffmpeg,anzusystems/php:latest-php84-cli-vipsffmpeg

  php84-fpm-vipsffmpeg-nginx:
    name: Build and push php84 fpm vipsffmpeg-nginx image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./build/php84/fpm/vipsffmpeg-nginx
          file: ./build/php84/fpm/vipsffmpeg-nginx/Dockerfile
          cache-from: type=gha,scope=php84-fpm-vipsffmpeg-nginx
          cache-to: type=gha,scope=php84-fpm-vipsffmpeg-nginx,mode=max
          push: true
          tags: anzusystems/php:${{ github.ref_name }}-php84-fpm-vipsffmpeg-nginx,anzusystems/php:latest-php84-fpm-vipsffmpeg-nginx

  php85-cli-base:
    name: Build and push php85 cli base image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./build/php85/cli/base
          file: ./build/php85/cli/base/Dockerfile
          cache-from: type=gha,scope=php85-cli
          cache-to: type=gha,scope=php85-cli,mode=max
          push: true
          tags: anzusystems/php:${{ github.ref_name }}-php85-cli,anzusystems/php:latest-php85-cli

  php85-cli-vipsffmpeg:
    name: Build and push php85 cli vipsffmpeg image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./build/php85/cli/vipsffmpeg
          file: ./build/php85/cli/vipsffmpeg/Dockerfile
          cache-from: type=gha,scope=php85-cli-vipsffmpeg
          cache-to: type=gha,scope=php85-cli-vipsffmpeg,mode=max
          push: true
          tags: anzusystems/php:${{ github.ref_name }}-php85-cli-vipsffmpeg,anzusystems/php:latest-php85-cli-vipsffmpeg

  php85-fpm-vipsffmpeg-nginx:
    name: Build and push php85 fpm vipsffmpeg-nginx image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./build/php85/fpm/vipsffmpeg-nginx
          file: ./build/php85/fpm/vipsffmpeg-nginx/Dockerfile
          cache-from: type=gha,scope=php85-fpm-vipsffmpeg-nginx
          cache-to: type=gha,scope=php85-fpm-vipsffmpeg-nginx,mode=max
          push: true
          tags: anzusystems/php:${{ github.ref_name }}-php85-fpm-vipsffmpeg-nginx,anzusystems/php:latest-php85-fpm-vipsffmpeg-nginx

